# Package dependencies
carbon-black-cloud-sdk>=1.2.0
python-dateutil>=2.8.1
PyYAML>=5.4.1
requests>=2.25.1
schema>=0.7.4
yara-python>=4.0.5

# Dev dependencies
pytest==5.4.2
coverage==5.1
coveralls==2.0.0
flake8==3.8.1
flake8-colors==0.1.6
flake8-docstrings==1.5.0
