# Configuration for Binary Analysis SDK
id: cb-binary-analysis
version: 0.0.1
carbonblackcloud:
  url: https://defense-dev01.cbdtest.io
  apitoken: ABCDEFGHIJKLMNOPQRSTUVWXYZ/1234567890
  orgkey: abcdefgh
  ssl_verify: True
database:
  _provider: cbc_binary_sdk.state.builtin.Persistor
  location: cb-binary-analysis.db
pubsub:
  _provider: cbc_binary_sdk.pubsub.builtin.Provider
  result_queue_name: results
engine:
  name: example
  feed_id: example-feed-id
