# Configuration for Binary Analysis SDK
id: cbc_binary_sdk
version: 0.0.1
carbonblackcloud:
  url: https://defense-dev01.cbdtest.io
  api_token: ABCDEFGHIJKLMNOPQRSTUVWXYZ/1234567890
  org_key: abcdefgh
  ssl_verify: True
database:
  _provider: cbc_binary_sdk.state.builtin.Persistor
  location: ":memory:"
pubsub:
  _provider: cbc_binary_sdk.pubsub.builtin.Provider
  result_queue_name: results
engine:
  name: example
  feed_id: example-feed-id
