engine:
  name: Yara
  feed_id: example-feed-id
  local: True
  _provider: cbc_binary_toolkit_examples.engine.yara_local.yara_engine.YaraFactory
  rules_file: src/cbc_binary_toolkit_examples/engine/yara_local/example_rule.yara
